* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* start of header/nav styles */
header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline; 
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px; 
    font-weight: lighter;
    font-size: 22px; 
    padding: 0 8px 3px 8px;
}
header nav ul li a:hover {
    color:blue;
    font-weight: bold;
    border-bottom: 3px solid blue;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    line-height: 1.5;
}
footer h2 {
    font-weight: bold;
    font-size: 16px;
}
footer p {
    font-size: 14px;
}

section {
    padding: 60px;
}

/* start of hero section styles */
.hero {
    background-image: url("./images/hero-image.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0;
}
.sub-header {
    background-color: black;
    color: white;
    margin: 4%;
    padding: 2%;
    float:left;
    position: center;
    align-items: center;
}

.sub-header p {
    align-items: center;
}

/* section styles */
.container {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-size: 38px;
    text-align: right;
    padding-right: 20px;
    flex: 25%;
    border-right: 3px solid black;
}

/* start of about section */
.bio-content {
    padding-left: 20px;
    flex: 75%;
    line-height: 1.5;
}

/* start of work section */
.work {
    padding-left: 20px;
    flex: 75%;
    display:flex;
    flex-wrap: wrap;
}
.cards {
    flex: 1 0 0; 
    margin: 0 10px 10px 10px;
    border: 2px solid black;
}
.cards:hover {
    border: 5px solid blue;
}
.cards:first-child {
    flex-basis: 75%;
}
.cards img {
    width: 100%;
    width: 100 px;
    height: 100 px;
}

.contact-info {
    padding-left: 20px;
    flex: 75%;
    line-height: 1.5;
}
.contact-info address {
    font-style: normal;
}
.contact-info address a {
    text-decoration: none;
    color: black;
}
.contact-info address a:hover {
    color: blue;
    font-weight: bold;
    border-bottom: 3px solid blue;
}
.contact-info p a {
    text-decoration: none; 
    color: black;   
}
.contact-info p a:hover {
    color: blue;
    font-weight: bold;
    border-bottom: 3px solid blue;
}

/* Start of Media Queries */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .sub-header {
        margin: auto auto;
    }
    .section-title {
        font-size: 30px;
        text-align: center;
        flex: 100%;
        border-bottom: 3px solid black;
        border-right: 0px;
        padding: 0 0 20px 0;
    }
    .bio-content, .work, .contact-info {
        padding-top: 20px;
        padding-left: 0px;
    }
    section {
        padding: 40px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li a {
        margin: 0 12px; 
    }
    section {
        padding: 28px;
    }
    .cards img {
        min-width: 325px;
    }
}